/* ==============================================================
*  FUENTES
*  ============================================================== */
	@font-face {
		font-family: 'rotoplas_bold';
		src: url('fonts/Rotoplas-Bold.otf');
		font-display: swap;
	}
	@font-face {
		font-family: 'rotoplas_bold_italic';
		src: url('fonts/Rotoplas-BoldItalic.otf');
		font-display: swap;
	}
	@font-face {
		font-family: 'rotoplas_regular';
		src: url('fonts/Rotoplas-Regular.otf');
		font-display: swap;
	}
	@font-face {
		font-family: 'rotoplas_light';
		src: url('fonts/Rotoplas-Light.otf');
		font-display: swap;
	}

	body { 
		font-family: 'rotoplas_regular', sans-serif !important;
		color: #002554;
		font-size: 1rem;
		line-height: normal;
	}

	.bold { font-family: 'rotoplas_bold'; }
	.regular { font-family: 'rotoplas_regular'; }
	.light { font-family: 'rotoplas_light'; }
/* fuentes */


/* ==============================================================
* TAMAÑOS FUENTES
* ============================================================== */
	.fs12 { font-size: 12px; }
	.fs14 { font-size: 14px; }
	.fs16 { font-size: 16px; }
	.fs20 { font-size: 20px; }
	.fs24 { font-size: 24px; }
	.fs30 { font-size: 30px; }
	.fs40 { font-size: 40px; }
	.fs50 { font-size: 50px; }

	.lhn { line-height: normal; }
/* tamaños fuentes */


/* ==============================================================
*  COLORES
*  ============================================================== */
	.blue1 { color: #00AFD7; }
	.blue2 { color: #009CDE; }
	.blue3 { color: #407EC9; }
	.blue4 { color: #236192; }
	.blue5 { color: #002554; }

	.bg-blue1 { background-color: #00AFD7; }
	.bg-blue2 { background-color: #009CDE; }
	.bg-blue3 { background-color: #407EC9; }
	.bg-blue4 { background-color: #236192; }
	.bg-blue5 { background-color: #002554; }

	.white { color: #fff; }
	.black { color: #000; }
	.grey { color: #666; }
/* colores */


.rtp-btn {
	background: #236192;
	color: #fff !important;
	border-radius: 25px;
	display: inline-block;
	font-size: 17px;
	padding: 6px 16px;
	font-weight: 500;
	transition: all ease .3s;
	border: solid 2px #236192;
	text-decoration: none;
}
.rtp-btn:hover {
	background: #002554;
	border: solid 2px #002554;
	color: #fff;
}


/* ==============================================================
*  HOME
*  ============================================================== */
	/* Header 				*/
		.home-header-txt {
			font-size: 40px;
		}

		@media screen and (max-width: 768px) {
			.home-header-txt {
				font-size: 30px;
			}
		}

	/* Graficas slider 		*/
		.graficas-slider-nodo {
			display: flex !important;
			flex-direction: row;
			justify-content: center;
		}
		.graficas-slider-nodo-imagen {
			width: 40%;
			margin-right: 2rem;
		}
		.graficas-slider-nodo-imagen img {
			width: 100%;
		}
		.graficas-slider-nodo-contenidos {
			width: 30%;
			display: flex;
			flex-direction: column;
			justify-content: center;
		}

		#graficas-slider-wrapper .slick-dots {
			position: relative !important;
			margin: 2rem 0 !important;
			bottom: 0 !important;
		}

		#intensidad-1 {
			/* width: 100px !important; */
		}

		@media screen and (max-width: 567px) {
			.graficas-slider-nodo {
				flex-direction: column;
				justify-content: center;
				align-items: center;
			}
			.graficas-slider-nodo-imagen {
				width: 75%;
				margin-right: 0;
			}
			.graficas-slider-nodo-contenidos {
				width: 100%;
				margin-top: 1rem;
			}
		}

	/* Avances 				*/
		.avances-btn {
			text-decoration: none;
			width: 180px;
			height: 180px;
			padding: 1rem;
			margin: 1rem;
			background: #dedede;
			border-radius: 50%;
			color: #ffffff;
		}

		.avances-nodo {
			width: 250px;
			padding: 1rem;
			text-align: center;
		}
		.avances-nodo img {
			width: 100%;
			border-radius: 50%;
		}

		#avances-btn-1 {
			background-color: #ff3600;
		}
		#avances-btn-2 {
			background-color: #ff6c00;
		}
		#avances-btn-3 {
			background-color: #ffa200;
		}
		#avances-btn-4 {
			background-color: #3ed121;
		}
		#avances-btn-5 {
			background-color: #009cde;
		}

		@media screen and (max-width: 768px) {
			.avances-btn {
				width: 160px;
				height: 160px;
			}
		}
		@media screen and (max-width: 375px) {
			.avances-btn {
				width: 140px;
				height: 140px;
			}
		}

	/* Proyectos slider	 	*/
		#proyectos-slider-wrapper {
			background-color: #f6f6f6;
			padding-top: 2rem;
			padding-bottom: 1rem;
		}
		.proyectos-slider-nodo {
			display: flex !important;
			flex-direction: row;
			justify-content: space-between;
		}
		.proyectos-slider-nodo-imagen {
			width: 40%;
		}
		.proyectos-slider-nodo-imagen img {
			width: 100%;
		}
		.proyectos-slider-nodo-contenidos {
			width: 40%;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: flex-start;
			margin-left: 10%;
		}

		#proyectos-slider-wrapper .slick-dots {
			position: relative !important;
			margin: 0 !important;
			bottom: 0 !important;
			width: 50% !important;
		}

		@media screen and (max-width: 567px) {
			.proyectos-slider-nodo {
				flex-direction: column;
			}
			.proyectos-slider-nodo-contenidos {
				width: 100%;
				margin-left: 0;
			}
			.proyectos-slider-nodo-imagen {
				width: 100%;
				margin-top: 1rem;
			}

			#proyectos-slider-wrapper .slick-dots {
				width: 100% !important;
				margin-top: 1rem !important;
			}
		}

	/* Politicas Slider 	*/
		#politicas-slider-wrapper .slick-slide {
			text-align: center;
		}
		.politicas-slider-nodo {
			padding: 1rem;
		}
		.politicas-slider-nodo-imagen {
			display: inline-block;
			width: 200px;
			border-radius: 50%;
			overflow: hidden;
			margin-bottom: 2rem;
		}
		.politicas-slider-nodo-imagen img {
			width: 100%;
		}
		.politicas-slider-nodo a {
			margin-top: 1rem;
		}

		#politicas-slider-wrapper .slick-dots {
			position: relative !important;
			margin: 0 !important;
			bottom: 0 !important;
			margin-top: 2rem !important;
		}
	/* Organigrama 			*/
		#home-organigrama {
			background: #f6f6f6;
			margin-top: 2rem;
			padding: 2rem 3rem 3rem 3rem;
		}
	/* slick 				*/
		.slick-dots li.slick-active button:before {
			color: #009cde !important;
		}
		.slick-dots li button:before {
			font-size: 12px !important;
		}
/* home */


/* ==============================================================
*  ESTRATEGIA WEB
*  ============================================================== */
.estrategia-web-header-txt {
	font-size: 30px;
}

.valor-imagenes {
    width: 50%;
    background: beige;
}
.valor-tabs-wrapper {
    width: 50%;
}

.valor-tabs {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.valor-tabs-nodo {
    width: 50%;
    padding: 1rem;
}
.valor-tabs-nodo p {
    width: 40px;
	padding: 10px 0;
    color: #ffffff;
    text-align: center;
}

.valor-tabs-nodo ul li {
	list-style-type: '>\00A0';
}
.valor-tabs-azul ul li::marker {
	color: #02b2db;
}
.valor-tabs-verde ul li::marker {
	color: #9cc43d;
}
.valor-tabs-rojo ul li::marker {
	color: #f56c4a;
}

.valor-tabs-botones {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.valor-tabs-botones div {
	color: #9f9f9f;
    width: 32%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    cursor: pointer;
    border-bottom: 6px solid #9f9f9f;
    padding-top: 1rem;
}
.valor-tabs-botones div.seleccion {
	color: #002554;
	border-bottom-color: #02b2db;
}
/* estrategia-web */


/* ==============================================================
*  FOOTER
*  ============================================================== */
	footer {
		padding: 2rem;
		background: #002554;
		color: #ffffff;
	}

	footer h2 {
		font-size: 18px;
		margin-bottom: 1rem;
	}

	footer img {
		height: 30px;
	}

	footer a {
		text-decoration: none;
		color: #009cde;
	}
	footer a:hover {
		color: #009cde;
	}

	.footer-contacto {
		display: block;
		margin: .5rem 0;
		color: #ffffff;
	}
	.footer-contacto img {
		margin-right: .5rem;
	}
	.footer-navega {
		display: block;
		margin: .5rem 0;
		color: #ffffff;
	}
	.footer-navega span {
		vertical-align: middle;
		margin-left: .5rem;
	}
	.footer-navega img {
		vertical-align: middle;
	}
	.footer-sociales {
		margin: 0 1rem;
	}
/* footer */